.contentPoints8{
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 10px;
  margin-right: -50px;
}
.contentPoints8__heading {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
  }
  .contentPoints8__points {
    padding-right: 179px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    display: flex;
    margin-right: 100px;
  }
  .point__number {
    color:#fff;
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    background-color: #281a60;
    margin-right: 25px;
    font-weight: bolder;
    font-size: larger;
  }
  .point__content {
    font-size: 20px;
    display: flex;
    flex-direction: column;
  }
  .point__content > strong {
    font-size: 20px;
  }

  /*  */
  