.downloadApp{
    margin-bottom: -2rem;
    margin-top: 30px;
    display: flex;
    letter-spacing: 1.5px;
}
.downloadApp__image{
    margin-left: -50px;
}
.downloadApp__image> img{
    width: 450px;
}
.text{
    margin-top: 50px;
    margin-left: -40px;
    margin-bottom: -90px;
}
.logo__image{
    margin-top: -3rem;
    width: 35%;
    margin-left: -20px;
}
.downloadApp__content{
    display: flex;
    flex-direction: column;
}