.header1 {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  justify-content: space-between;
  font-family: 'Poppins';
  letter-spacing: 1px;
  overflow: hidden;
  background-color: #fff;
}
.link__1{
  font-size: x-large;
}
.link__2{
    background-color: #281A60;
    font-size: large;
    font-weight: bold;
    color: #fff;
    padding: 10px 30px;
    border-radius: 6px;
    margin: 0 30px 0 40px;
    text-decoration: none;
}
.header1__links{
  margin: 20px;
  padding-left: 20px;
}
.header1__logo> img {
  object-fit: contain;
  width: 350px;
  margin: 10px;
  
}

