.categories{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.categories> div{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.categories__image{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
}
 /* justify-content: flex-end;
    display: flex;
    flex-direction: column;
    max-height: 400px;
    min-width: 100px;
    margin: 10px;
    background-color: bleck;
    z-index: 1;
    padding: 20px;
    width: 100%; */