.categories {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.categories > div {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.categories__image {
  object-fit: cover;
  width: 150px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
}
