.contentPoints3__heading {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
  }
  .contentPoints3__points {
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    display: flex;
    margin-right: 100px;
  }
  .point__number {
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    margin-right: 25px;
    font-weight: bolder;
    font-size: larger;
  }
  .point__content {
    font-size: 20px;
    display: flex;
    flex-direction: column;
  }
  .point__content > strong {
    font-size: 20px;
  }
  /*  */
  