.content{
    display: flex;
    overflow: hidden;
}
.content__left{
    margin-left: 90px;
    margin-right: 70px;
    margin-top: 50px;
    font-family: 'Poppins';
    letter-spacing: 1px;
}
.content__heading{
    font-weight:700;
    font-size: 35px;
    margin-bottom:30px ;
}
.content__points{
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    display: flex;
}
.point__number{
padding: 10px 20px;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    margin-right: 25px;
    font-weight: bolder;
    font-size: larger;
}
.point__content{
    font-size: 20px;
    display: flex;
    flex-direction: column;
}
.point__content > strong {
    font-size: 20px;
}
.box{
    margin-top: 20px;
    width: 500px;
    height: 500px;
    border: 2px solid black;
    border-radius: 25px;
}