.header2{
    display: flex;
    align-items: center;
    position: sticky;
    top: 85px;
    z-index: 100;
    justify-content: space-between;
    padding: 10px 65px;
    border: 3px solid #f1f1f1 ;
    margin-bottom: 10px;
    letter-spacing: 1px;
    overflow: hidden;
}
.links{
    text-align: center;
    align-items: center;
    justify-content: space-between;
    font-weight: bolder;
    font-size: larger;
}
a{
    color: black;
    text-decoration: none;
    font-family: 'Poppins';
}
/* #281A60 */
/* #561D9C */